# Ignore build output directories

# Ignore all __pycache__ directories recursively
__pycache__/

# Ignore all .idea directories recursively
.idea/

# Python bytecode
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/


# Include specific files in .idea if needed
!**/.idea/misc.xml
!**/.idea/modules.xml

# Ignore everything in the LOG folder
logs/*
!logs/*.py
.log

# Ignore extracted_maps folder

# Ignore temp folder